@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.page-card {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 550px;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.blinking {
  -moz-animation: 1.5s blink ease infinite;
  -ms-animation: 1.5s blink ease infinite;
  -o-animation: 1.5s blink ease infinite;
  -webkit-animation: 1.5s blink ease infinite;
  animation: 1.5s blink ease infinite; 
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}